<div class="questions">
    <div class="question-header">
        <span class="questions-new">New Questions</span>
        <span class="questions-hot">
            <a href="{% url 'popular' %}">Hot Questions</a>
        </span>
        <span class="new-question">
            <a href="{% url 'ask' %}">ASK</a>
        </span>
        <span class="signup">
            <a href="{% url 'signup' %}">Sign Up</a>
        </span>
    </div>

    {% for question in questions %}
    <div class="question">
        <a href="{% url 'question' question.id %}">{{ question.title }}</a><br/>
        <div class="question-text">{{ question.text }}</div>
    </div>
    {% endfor %}
    
    <div class="pagination">
        <span class="step-links">
            {% if questions.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ questions.previous_page_number }}">Previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ questions.number }} of {{ questions.paginator.num_pages }}
            </span>
    
            {% if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}">Next</a>
                <a href="?page={{ questions.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>    
</div>
