{% extends 'qa/base.html' %}

{% block content %}
<!-- Main Content -->
<main class="container">
  <!-- Main Header -->
  <div class="m-2 mb-3">
  {% block main_header %}
    <span class="fs-3 text me-3">New Questions</span>
    <a href="{% url 'popular' %}" class="text-decoration-none">Hot Questions</a>
  {% endblock %}
  </div>

  <!-- A way to pass URLs from Django templates to js scripts -->
  <input id="questionLikeBtnUrl" value="{% url 'question_like' %}" style="display:none;">
  <input id="questionLikeBtnLoginUrl" value="{% url 'login' %}" style="display:none;">

  <!-- Questions -->
  {% for question in questions %}
  <div class="container rounded border border-1 p-2 mb-3">
    <div class="row">
      <div id="alertPlaceholder{{ question.id }}"></div>
      <div class="col-3 col-md-1 border-end">
      </div>
      <div class="col-9 col-md-11">
        <a href="{% url 'question' question.id %}" class="text-decoration-none fs-5">
          {{ question.title }}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-md-1 border-end">
        <p class="mb-auto">{{ question.author }}</p>
        <button class="btn btn-link text-dark p-0 border-0 btn-outline-light"
          id="question_like_btn{{ question.id }}" value="{{ question.id }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="50" fill="currentColor"
          class="bi bi-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92
            1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542
            6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878
            10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04
            7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1
            .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        </button>
        <span id="question_rating{{ question.id }}">{{ question.rating }}</span>
        <small class="fw-light">{{ question.added_at|date:"SHORT_DATE_FORMAT" }}</small>
      </div>
      <div class="col-9 col-md-11">
        <div class="fs-6 text fw-light overflow-text">{{ question.text }}</div>
      </div>
    </div>
  </div>

  <script>
    $(`#question_like_btn{{ question.id }}`).click(function(e) {
        e.preventDefault()
        handleQuestionLikeBtn($(this))
      }
    );
  </script>
  {% endfor %}
    
  <!-- Pagination -->
  <nav>
    <ul class="pagination">
    {% if questions.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">First</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}
      <li class="page-item disabled">
        <span class="page-link">
          Page {{ questions.number }} of {{ questions.paginator.num_pages }}
        </span>
      </li>
    {% if questions.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ questions.paginator.num_pages }}">Last</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Last</span>
      </li>
    {% endif %}
    </ul>
  </nav>
</main> <!-- End of Main Content -->
{% endblock %}